.modalAddGif,
.modalDeleteGif {
  .ant-modal-content {
    background-color: #181c2e;
    .ant-modal-header {
      background-color: #181c2e;
      .ant-modal-title {
        color: white;
        font-size: 1.5vw;
        line-height: 120%;
      }
    }

    .ant-modal-footer {
      button {
        &:first-of-type {
          background-color: #0d224d;
        }
      }
    }
  }
}

.ant-dropdown-menu {
  background-color: #252b47;
}
.ant-dropdown-trigger {
  margin-bottom: 1.5vw;
  font-size: 1.2vw;
}
@media (max-width: 768px) {
  .ant-dropdown-trigger {
    margin-bottom: 2vw;
    font-size: 2vw;
  }
  .modalAddGif{
    .ant-modal-content {
      width: 50vw;
      transform: translateX(-11vw);
      .ant-modal-header {
        .ant-modal-title {
          font-size: 3vw;
        }
      }
    }
  }
  .modalDeleteGif {
    .ant-modal-content {
      width: 40vw;
      transform: translateX(-8vw);
    }
    .ant-modal-title {
      font-size: 2vw;
    }
    p {
      font-size: 2vw;
    }
  }
}
@media (max-width: 640px) {
  .ant-dropdown-trigger {
    margin-bottom: 3vw;
    font-size: 4vw;
  }
  .modalAddGif {
    .ant-modal-content {
      width: 80vw;
      transform: translate(-25vw);
      .ant-modal-header {
        .ant-modal-title {
          font-size: 4vw;
        }
      }
    }
  }
  .modalDeleteGif {
    .ant-modal-content {
      width: 80vw;
      transform: translate(-28vw);

      .ant-modal-header {
        .ant-modal-title {
          font-size: 4vw;
        }
      }
      .ant-modal-body{
        p{
          font-size: 4vw;
        }
      }
     
    }
  }
}
.custom-error-message{
  .ant-message-notice-content{
  background-color: rebeccapurple;
  }
}
